<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petfound.backend.Mapper.PetFoundMapper">
  <resultMap id="BaseResultMap" type="com.petfound.backend.Entity.PetFound.PetFound">
    <!--@mbg.generated-->
    <!--@Table pet_found-->
    <id column="petFoundId" property="petFoundId" />
    <result column="petId" property="petId" />
    <result column="username" property="username" />
    <result column="countyId" property="countyId" />
    <result column="createTime" property="createTime" />
    <result column="status" property="status" />
    <result column="shelterId" property="shelterId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    petFoundId, petId, username, countyId, createTime, status, shelterId
  </sql>

  <select id="countPetFoundIdByUsername" resultType="java.lang.Integer">
    SELECT count(petFoundId)
    FROM pet_found
    WHERE username = #{username}
  </select>

  <select id="countPetFoundIdByShelterId" resultType="java.lang.Integer">
    SELECT count(petFoundId)
    FROM pet_found
    WHERE shelterId = #{shelterId} AND status = 1
  </select>

  <select id="countPetFoundIdByFilter" resultType="java.lang.Integer">
    SELECT count(petFoundId)
    FROM pet join pet_found pf on pet.petId = pf.petId
    WHERE
    (sex = '${petFoundFilter.sex}' OR '${petFoundFilter.sex}' = '') AND
    (breed = '${petFoundFilter.breed}' OR '${petFoundFilter.breed}' = '') AND
    (size = '${petFoundFilter.size}' OR '${petFoundFilter.size}' = '') AND
    (color = '${petFoundFilter.color}' OR '${petFoundFilter.color}' = '')
    <if test="petFoundFilter.countyId != null">
      AND countyId = #{petFoundFilter.countyId}
    </if>
    <if test="petFoundFilter.status != null ">
        AND status = #{petFoundFilter.status}
    </if>
    <if test="petFoundFilter.startAge != null and petFoundFilter.endAge != null">
      AND age BETWEEN #{petFoundFilter.startAge} AND #{petFoundFilter.endAge}
    </if>
    <if test="petFoundFilter.startWeight != null and petFoundFilter.endWeight != null">
      AND weight BETWEEN #{petFoundFilter.startWeight} AND #{petFoundFilter.endWeight}
    </if>
    <if test="petFoundFilter.startCreateTime != null and petFoundFilter.endCreateTime != null">
      AND createTime BETWEEN #{petFoundFilter.startCreateTime} AND #{petFoundFilter.endCreateTime}
    </if>
  </select>

  <select id="selectByFilter" resultMap="BaseResultMap">
    SELECT pf.*
    FROM pet join pet_found pf on pet.petId = pf.petId
    WHERE
    (sex = '${petFoundFilter.sex}' OR '${petFoundFilter.sex}' = '') AND
    (breed = '${petFoundFilter.breed}' OR '${petFoundFilter.breed}' = '') AND
    (size = '${petFoundFilter.size}' OR '${petFoundFilter.size}' = '') AND
    (color = '${petFoundFilter.color}' OR '${petFoundFilter.color}' = '')
    <if test="petFoundFilter.countyId != null">
      AND countyId = #{petFoundFilter.countyId}
    </if>
    <if test="petFoundFilter.status != null ">
      AND status = #{petFoundFilter.status}
    </if>
    <if test="petFoundFilter.startAge != null and petFoundFilter.endAge != null">
      AND age BETWEEN #{petFoundFilter.startAge} AND #{petFoundFilter.endAge}
    </if>
    <if test="petFoundFilter.startWeight != null and petFoundFilter.endWeight != null">
      AND weight BETWEEN #{petFoundFilter.startWeight} AND #{petFoundFilter.endWeight}
    </if>
    <if test="petFoundFilter.startCreateTime != null and petFoundFilter.endCreateTime != null">
      AND createTime BETWEEN #{petFoundFilter.startCreateTime} AND #{petFoundFilter.endCreateTime}
    </if>
    LIMIT #{startRow}, #{pageSize}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-12-06-->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="petFoundId">
    INSERT INTO pet_found
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="petFoundId != null">
        petFoundId,
      </if>
      <if test="petId != null">
        petId,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="countyId != null">
        countyId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="shelterId != null">
        shelterId
      </if>
    </trim>
    VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="petFoundId != null">
        #{petFoundId},
      </if>
      <if test="petId != null">
        #{petId},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="countyId != null">
        #{countyId},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="shelterId != null">
        #{shelterId}
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2022-12-06-->
  <update id="updateByPetFoundId">
    update pet_found
    <set>
      <if test="updated.petFoundId != null">
        petFoundId = #{updated.petFoundId},
      </if>
      <if test="updated.petId != null">
        petId = #{updated.petId},
      </if>
      <if test="updated.username != null">
        username = #{updated.username},
      </if>
      <if test="updated.countyId != null">
        countyId = #{updated.countyId},
      </if>
      <if test="updated.createTime != null">
        createTime = #{updated.createTime},
      </if>
      <if test="updated.status != null">
        status = #{updated.status},
      </if>
      <if test="updated.shelterId != null">
        shelterId = #{updated.shelterId},
      </if>
    </set>
    where petFoundId=#{petFoundId}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-12-06-->
  <delete id="deleteByPetFoundId">
    delete from pet_found
    where petFoundId=#{petFoundId}
  </delete>

<!--auto generated by MybatisCodeHelper on 2022-12-06-->
  <select id="selectByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pet_found
    where username=#{username}
    LIMIT #{startRow}, #{pageSize}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-12-06-->
  <select id="selectAllByPetFoundId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pet_found
    where petFoundId=#{petFoundId}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-12-09-->
  <select id="selectByShelterId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pet_found
    where shelterId=#{shelterId} AND status = 1
    LIMIT #{startRow}, #{pageSize}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-12-09-->
  <delete id="deleteByPetId">
    delete from pet_found
    where petId=#{petId}
  </delete>

<!--auto generated by MybatisCodeHelper on 2022-12-09-->
  <delete id="deleteByUsername">
    delete from pet_found
    where username=#{username}
  </delete>

<!--auto generated by MybatisCodeHelper on 2022-12-09-->
  <delete id="deleteByShelterId">
    delete from pet_found
    where shelterId=#{shelterId}
  </delete>

<!--auto generated by MybatisCodeHelper on 2022-12-19-->
  <select id="countPetFoundId" resultType="java.lang.Integer">
    select count(petFoundId)
    from pet_found
  </select>
</mapper>