<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petfound.backend.Mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.petfound.backend.Entity.User.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="userId" property="userId" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="email" property="email" />
    <result column="phone" property="phone" />
    <result column="identity" property="identity" />
    <result column="dob" property="dob" />
    <result column="gender" property="gender" />
    <result column="firstName" property="firstName" />
    <result column="lastName" property="lastName" />
    <result column="address" property="address" />
    <result column="profilePhoto" property="profilePhoto" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    userId, username, `password`, email, phone, `identity`, dob, gender, firstName, lastName, 
    address, profilePhoto
  </sql>
  <insert id="insertUser" keyColumn="userId" keyProperty="userId" parameterType="com.petfound.backend.Entity.User.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (username, `password`, email, phone, `identity`, dob, gender,
      firstName, lastName, address, profilePhoto)
    values (#{username}, #{password}, #{email}, #{phone}, #{identity}, #{dob}, #{gender},
      #{firstName}, #{lastName}, #{address}, #{profilePhoto})
  </insert>

<!--auto generated by MybatisCodeHelper on 2022-10-26-->
  <select id="selectByUsernameAndPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where username=#{username} and `password`=#{password}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-10-26-->
  <select id="selectByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where username=#{username}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-10-26-->
  <select id="selectByEmail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where email=#{email}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-10-26-->
  <select id="selectByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where phone=#{phone}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-10-26-->
  <update id="updateByUserId">
    update `user`
    <set>
      <if test="updated.userId != null">
        userId = #{updated.userId},
      </if>
      <if test="updated.username != null">
        username = #{updated.username},
      </if>
      <if test="updated.password != null">
        password = #{updated.password},
      </if>
      <if test="updated.email != null">
        email = #{updated.email},
      </if>
      <if test="updated.phone != null">
        phone = #{updated.phone},
      </if>
      <if test="updated.identity != null">
        identity = #{updated.identity},
      </if>
      <if test="updated.dob != null">
        dob = #{updated.dob},
      </if>
      <if test="updated.gender != null">
        gender = #{updated.gender},
      </if>
      <if test="updated.firstName != null">
        firstName = #{updated.firstName},
      </if>
      <if test="updated.lastName != null">
        lastName = #{updated.lastName},
      </if>
      <if test="updated.address != null">
        address = #{updated.address},
      </if>
      <if test="updated.profilePhoto != null">
        profilePhoto = #{updated.profilePhoto},
      </if>
    </set>
    where userId=#{userId}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-10-26-->
  <update id="updateByUsername">
    update `user`
    <set>
      <if test="updated.userId != null">
        userId = #{updated.userId},
      </if>
      <if test="updated.username != null">
        username = #{updated.username},
      </if>
      <if test="updated.password != null">
        password = #{updated.password},
      </if>
      <if test="updated.email != null">
        email = #{updated.email},
      </if>
      <if test="updated.phone != null">
        phone = #{updated.phone},
      </if>
      <if test="updated.identity != null">
        identity = #{updated.identity},
      </if>
      <if test="updated.dob != null">
        dob = #{updated.dob},
      </if>
      <if test="updated.gender != null">
        gender = #{updated.gender},
      </if>
      <if test="updated.firstName != null">
        firstName = #{updated.firstName},
      </if>
      <if test="updated.lastName != null">
        lastName = #{updated.lastName},
      </if>
      <if test="updated.address != null">
        address = #{updated.address},
      </if>
      <if test="updated.profilePhoto != null">
        profilePhoto = #{updated.profilePhoto},
      </if>
    </set>
    where username=#{username}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-10-26-->
  <delete id="deleteByUsername">
    delete from `user`
    where username=#{username}
  </delete>

  <select id="countUserByFilter" resultType="java.lang.Integer">
    SELECT count(userId)
    FROM `user`
    WHERE
    (gender = '${userFilter.gender}' OR '${userFilter.gender}' = '')
    <if test="userFilter.startDob != null and userFilter.endDob != null">
        AND dob BETWEEN #{userFilter.startDob} AND #{userFilter.endDob}
    </if>
  </select>

  <select id="selectUserByFilter" resultMap="BaseResultMap">
    SELECT *
    FROM `user`
    WHERE
    (gender = '${userFilter.gender}' OR '${userFilter.gender}' = '')
    <if test="userFilter.startDob != null and userFilter.endDob != null">
      AND dob BETWEEN #{userFilter.startDob} AND #{userFilter.endDob}
    </if>
    LIMIT #{startRow}, #{pageSize}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-12-19-->
  <update id="updatePasswordByUsername">
        update `user`
        set `password`=#{updatedPassword}
        where username=#{username}
  </update>
</mapper>